<section class=" text-center" id="dealPage" >
	<div class=" col-xs-12 jumbotron  animated flip" >
		<div class="text-center row center-block" style="margin-top: -30px" >
			<img src="{{loadedDeal.logo}}" width="50px" >
			<p >
				{{$storage.options.bizNameFromUrl}}
			</p>
			<p class="text-center"  style="margin-top: -20px;">
				{{loadedDeal.description}}
			</p>
			<p class="text-center" ng-hide="loadedDeal.description" style="margin-top: -20px;">
				{{$storage.lan.nameBadge.comingSoon}}
			</p>
			<h2 class="text-center" style="margin-top: -20px;">{{loadedDeal.savings}} </h2>
			<span> {{loadedDeal.start}} - {{loadedDeal.end}} </span>
			<img class="img-responsive center-block" ng-hide="loadedDeal.description"
			src="{{barcodeSrc('http://www.calcreator.me','#ffffff','#000000')}}" style="margin-top: -20px;">
			<p></p>
			<span class="glyphicon glyphicon-earphone" style="font-size: 20px;margin-top: -15px;"></span>
			<h3 style="margin-top: -5px;"><a href="tel:{{loadedDeal.phone}}" style="color: white !important;">{{loadedDeal.phone}}</a></h3>
		</div>
	</div>
	<div class="row center-block text-center" style="position: fixed;bottom: 0px;width: 100%">
		<div class="row-fluid center-block" >
			<div class="col-xs-12 center-block" id="gal-container">
				<div class="gallery-container center-block" id="galDiv">
					<img src="images/ball.gif"  style="height:50px;margin: 150px"  ng-hide='loadedDeal'/>
					<img src="{{loadedDeal.logo}}" class="gallery-item" style="height:200px;"   ng-show='loadedDeal'>
					<img ng-repeat="image in dealImages track by $index" src="{{image}}"  class="gallery-item" style="height:200px;" />
				</div>
			</div>
		</div>
	</div>
</section>
<div ng-include="'partials/lan.html'"></div>
