<div id="gift2" class="gift">
	<div class="text-center month" style="display: inline;float: left;">
		<h4  ng-attr-style="{{previewStyleInverseBg()}}">{{$storage.lan.nameBadge.getDeal}}</h4>
		<img alt="Add guest to see barcode" class="img-responsive"
		src="{{barcodeSrc(dealUrl(),'#ffffff','#000000')}}">
		<span style="font-size: 10pt;" id="calBody" class="text-center">{{$storage.options.pNum}}</span>
	</div>
	<div ng-repeat="cal in $storage.options.cals" class="text-left month">
		<h4  ng-attr-style="{{previewStyleInverseBg()}}">{{ make2Dig(cal.month)}},  {{cal.year}}</h4>
		<p ng-bind-html="dispCal(cal.month, cal.year)" id="calBody"></p>
	</div>
	<div id="pSpace1" ng-attr-style="{{previewStyle()}}">
		<div id="bottomOfSection"  ng-attr-style="{{previewStyleInverse()}}">
			{{ $storage.options.bizDets | limitTo: 42 }}{{$storage.options.bizDets.length > 50 ? '...' : ''}}
		</div>
		<div id="leftSide">
			<p class="pull-left text-center" id="personalizecMsg"  ng-repeat="str in $storage.userMsg">
				<span ng-bind-html="str"  ng-attr-style="{{previewStyle()}}"></span>
			</p>
		</div>
		<div id="imgDiv" ng-attr-style="{{previewStyle()}}">
			<img ngf-src="$storage.UpldImgs[0]" class="img-responsive text-center"></img>
		</div>
		<div id="CLogo" ng-attr-style="{{previewStyleInverse()}}">
			<span class="bizName" ng-attr-style="{{previewStyleInverse()}}">{{$storage.options.BizName}}</span>
		</div>
	</div>
</div>