<div id="gift3" class="gift" ng-attr-style="{{previewStyle()}}">
	<div id="pSpace1" ng-attr-style="{{previewStyle()}}">
		<div id="CLogo" ng-attr-style="{{previewStyleInverse()}}">
			<span class="bizName" ng-attr-style="{{previewStyleInverse()}}">东方明珠酒店</span>
		</div>
		<div id="leftSide">
			<img class="img-responsive pull-left" ng-attr-style="{{previewStyle()}}"
			src="images/bgs/purple.jpg">
			<img class="img-responsive pull-left" ng-attr-style="{{previewStyle()}}"
			src="images/bgs/yellowBg.jpg">
			<img class="img-responsive pull-left" ng-attr-style="{{previewStyle()}}"
			src="images/3.jpg">
		</div>
		<div id="imgDiv" ng-attr-style="{{previewStyle()}}">
			<img ngf-src="$storage.UpldImgs[0]" class="img-responsive text-center"></img>
		</div>
		<div id="bottomOfSection"  ng-attr-style="{{previewStyleInverse()}}">
			{{ $storage.options.bizDets | limitTo: 42 }}{{$storage.options.bizDets.length > 42 ? '...' : ''}}
		</div>
	</div>
	<div class="text-center month" style="display: inline;float: left;">
		<h4  ng-attr-style="{{previewStyleInverseBg()}}">{{$storage.lan.nameBadge.getDeal}}</h4>
		<img alt="Add guest to see barcode" class="img-responsive"
		src="{{barcodeSrc($storage.guestsList[0].id,'#ffffff','#000000')}}">
		<span style="font-size: 10pt;" id="calBody">400-1806-999</span>
	</div>
	<div ng-repeat="cal in $storage.options.cals" class="text-left month">
		<h4  ng-attr-style="{{previewStyleInverseBg()}}">{{ make2Dig(cal.month)}},  {{cal.year}}</h4>
		<p ng-bind-html="dispCal(cal.month, cal.year)" id="calBody"></p>
	</div>
</div>