<div class="center-block text-center" >
	<div class="pull-right "   style="position: fixed;top: 25px;right: 25px" >
		<button   type="button" class="btn btn-primary  btn-lg"
		ng-click="printBadges()">
			<span class="glyphicon glyphicon-print"></span>
		</button>
	</div>
	<div  class="text-center center-block">
		<span class=" text-bold" style="color: white">{{$storage.lan.nameBadge.cAndI}}</span>
	</div>
	<div id="printableBadge" class="text-center center-block">
		<div class="previewTickets  center-block text-center">
			<div ng-include="$storage.user.styles.badgeFormats.formats[$storage.user.styles.selectedInd]"></div>
		</div>
	</div>
</div>