<div class="center-block text-center" >
	<div class="pull-right "  style="padding-right: 30px;" >
		<br />
		<br />
		<br />
		<button   type="button" class="btn btn-info  btn-lg"
		ng-click="printBadges()">
			<span class="glyphicon glyphicon-print"></span>
		</button>
	</div>
	<div  class="text-center center-block">
		<span class="text-danger text-bold">{{$storage.lan.nameBadge.cAndI}}</span>
	</div>
	<div id="printableBadge" class="text-center center-block">
		<div class="previewTickets  center-block text-center">
			<div ng-include="$storage.user.styles.badgeFormats.preview[$storage.user.styles.selectedInd]"></div>
		</div>
	</div>
</div>