<section class="guestinfo  container-fluid pg animated pulse " ng-class="{'fancgyBg' : showSide}"  ng-show='deals["$resolved"]'>
	<div class="hideOnPrint" ng-hide="printSet" style="background: white;">
		<div  style="position: fixed;top: 25px;left: 25px" >
			<button   type="button" class="btn btn-default"
			ng-click="customizeDeal=!customizeDeal;">
				<span class="" ng-show="!customizeDeal">{{$storage.lan.nameBadge.editDeal}}</span>
				<span class="" ng-show="customizeDeal">{{$storage.lan.nameBadge.editCal}}</span>
			</button>
		</div>
		<h1 class="text-center" style="padding-top: 10px;">{{$storage.lan.nameBadge.title}}</h1>
		<div class="row   center-block ">
			<div class="col-sm-2 col-xs-12 pull-left ticketContent">
				<h3 class="text-center">{{$storage.lan.nameBadge.content}}</h3>
				<div ng-show="!customizeDeal"  class="fadein fadeout">
					<form role="form " id="upldForm">
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.bizNameInst}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.BizName">
						</div>
						<button ngf-select="uploadFiles($files, $invalidFiles)"  ng-model="$storage.companyLogo" accept="image/*"
						class="btn  btn-file btn-default">
							{{$storage.lan.nameBadge.selectLogo}}
						</button>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.eBiz}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.bizDets">
						</div>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.pNum}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.pNum">
						</div>
						<button ngf-select ng-model="$storage.UpldImgs[0]" accept="image/*"
						class="btn  btn-file btn-default">
							{{$storage.lan.nameBadge.select}}
						</button>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.eMsg}}</label>
							<input class="form-control"  type="text" ng-change="getOnePerline ($storage.options.personalizedMsg)"
							ng-model="$storage.options.personalizedMsg">
						</div>
					</form>
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<div class="col-xs-12" >
							<div class="text-center row ticketColors">
								<div ng-repeat="dCols in $storage.defaultColors" class="col-xs-6 text-center center-block" id="def-cols"
								ng-click="selectDefaultCol(dCols.bg,dCols.txt)">
									<span class="col-xs-6" ng-style="{'background-color': dCols.bg}"><i class="glyphicon glyphicon-stop"></i> </span>
									<span class="col-xs-6" ng-style="{'background-color': dCols.txt}"><i class="glyphicon glyphicon-stop"></i> </span>
								</div>
							</div >
						</div>
					</div>
				</div>
				<div ng-show="customizeDeal" class="fadein fadeout">
					<form role="form ">
						<p ng-hide="$storage.options.dealDesc">
							{{$storage.lan.nameBadge.dealAddUp}}
						</p>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.bizNameInst}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.BizName">
						</div>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.dealDesc}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.dealDesc">
						</div>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.dealSavings}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.dealSavings">
						</div>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.dealStart}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.dealStart">
						</div>
						<div class="form-group">
							<label>{{$storage.lan.nameBadge.dealEnd}}</label>
							<input class="form-control"  type="text"
							ng-model="$storage.options.dealEnd">
						</div>
						<p ng-hide="$storage.options.dealDesc">
							{{$storage.lan.nameBadge.dealAddDown}}
						</p>
						<a ng-click="updateDeal($storage.options.dealDesc, $storage.options.dealSavings
						,$storage.options.dealStart,$storage.options.dealEnd)"
						class="btn  btn-file btn-default"  ng-href="{{'#!/d/' + $storage.options.BizName}}" target="_blank"> {{$storage.lan.nameBadge.submitDeal}} </a>
					</form>
				</div>
			</div>
			<div class="col-sm-10 col-xs-12 ticketPreview">
				<h3 class="text-center row center-block">{{$storage.lan.nameBadge.preview}}</h3>
				<div class="row center text-center center-block">
					<slick autoplaySpeed="500" fade="true" dots="true" infinite="true" arrows="true" class="choices">
						<div ng-repeat="format in $storage.user.styles.badgeFormats.formats " class="center-block">
							<div ng-include="format"></div>
						</div>
					</slick>
				</div>
			</div>
		</div>
	</div >
	<div ng-hide="!printSet">
		<div class="pull-left "    style="position: fixed;top: 25px;left: 25px" >
			<button   type="button" class="btn btn-default  btn-xs"
			ng-click="printSet=!printSet;">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
		<div ng-include="'partials/badges/bPrint.html'"></div>
	</div>
	<div>
		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
</section>
<div class=" center-block row text-center"  style="position: fixed;top: 25px;right: 25px" ng-hide="printSet">
	<button   type="button" class="btn btn-default btn-lg"
	ng-click="$storage.user.styles.setSelectedInd();printSet=!printSet;">
		<span class="glyphicon glyphicon-print"></span>
	</button>
</div>
<div class="pull-right "   style="position: fixed;top: 25px;right: 25px"  ng-hide="!printSet">
	<button   type="button" class="btn btn-primary  btn-lg"
	ng-click="printBadges()">
		<span class="glyphicon glyphicon-print"></span>
	</button>
</div>
<div style="position:fixed;bottom: 10px;right: 25px" class="fixed-bottom">
	<button   type="button" class="btn btn-default btn-lg" ng-click="showSide=!showSide">
		<span class="glyphicon glyphicon-resize-full " ng-show="showSide"></span>
		<span class="glyphicon glyphicon-resize-small " ng-show="!showSide"></span>
	</button>
</div>
<div class="row text-center" ng-hide='deals["$resolved"]' style="position:fixed;bottom: 40%;width: 100%;">
	<img class="img-responsive center-block" src="images/box.gif" />
</div>
<div ng-include="'partials/lan.html'"></div>
